<template>
  <v-app id="keep">
    <v-app-bar
      app
      clipped-left
      color="blue"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <span class="title ml-3 mr-5">Petito <span class="font-weight-light">Store</span></span>
      <v-text-field
        solo-inverted
        flat
        hide-details
        label="Search"
        prepend-inner-icon="search"
      ></v-text-field>

      <v-spacer></v-spacer>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      color="blue lighten-1"
    >
      <v-list
        dense
        class="blue lighten-2"
        dark
      >
        <template v-for="(item, i) in items">
          <v-row
            v-if="item.heading"
            :key="i"
            align="center"
          >
            <v-col cols="6">
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-col>
            <v-col
              cols="6"
              class="text-right"
            >
              <v-btn
                small
                text
              >edit</v-btn>
            </v-col>
          </v-row>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            class="my-4"
          ></v-divider>
          <v-list-item
            v-else
            :key="i"
            link
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="dark--text">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container
        fluid
        class="grey lighten-4 fill-height"
      >
        <v-row
          justify="center"
          align="center"
        >
          <v-col cols="6" >
            <v-btn color="primary" class='mb-3' @click="goToCreateProduct()">Crear producto</v-btn>
            <v-data-table
              :items = "products"
              class="elevation1"
              :headers = "headers"
            >
              <template v-slot:item.actions="{ item }">
                <v-btn class="ml-2" color='yellow' @click="goToEditProduct(item)">Editar</v-btn>
                <v-btn class="ml-2" color='red'  @click="deleteProduct(item._id)">Eliminar</v-btn>
              </template>
            </v-data-table>
          </v-col>

          <v-col cols="6" v-if='isEdit || isCreate' >
             <v-form >
              <v-container>
                <v-row
                   justify="center"
                   align="center"
                >
                
                  <v-col
                    cols="12"
                    md="6"
                  >
                    <v-text-field
                      v-model="send.name"
                      label="Nombre"
                      required
                    ></v-text-field>
                    <v-text-field
                      v-model="send.price"
                      label="Precio"
                      required
                    ></v-text-field>
                    <v-btn  v-if='isEdit' color="success" @click="editProduct()">Editar</v-btn>
                    <v-btn v-if='isCreate' color="success" @click="createProduct()">Crear</v-btn>
                  </v-col>


                </v-row>
              </v-container>
            </v-form>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import axios from 'axios'
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      isEdit: null,
      isCreate: null,
      products: [],
      headers:[
        {text: 'ID', value: '_id'},
        {text: 'Nombre', value: 'name'},
        {text:  'Precio', value: 'price'},
        {text: 'Acciones', value: 'actions'}
      ],
      send: {
        name: '',
        price:  ''
      },
      idProductSelected: '',

      
      items: [
        { icon: 'touch_app', text: 'Productos'}
      ]
      //items: [
      //  { icon: 'lightbulb_outline', text: 'Notes' },
      //  { icon: 'touch_app', text: 'Reminders' },
      //  { divider: true },
      //  { heading: 'Labels' },
      //  { icon: 'add', text: 'Create new label' },
      //  { divider: true },
      //  { icon: 'archive', text: 'Archive' },
      //  { icon: 'delete', text: 'Trash' },
      //  { divider: true },
      //  { icon: 'settings', text: 'Settings' },
      //  { icon: 'chat_bubble', text: 'Trash' },
      //  { icon: 'help', text: 'Help' },
      //  { icon: 'phonelink', text: 'App downloads' },
      //  { icon: 'keyboard', text: 'Keyboard shortcuts' },
      //],
    }),
    methods: {
      getProducts: function()  {
        axios.get('http://localhost:3000/products/').then( r => {
          this.products = r.data
          console.log(this.products)
        }).catch( e => {
          console.log(e)
        })
      },
      goToEditProduct: function(product) {
        this.isEdit = true
        this.isCreate = false
        this.send.name = product.name
        this.send.price = product.price
        this.idProductSelected = product._id
      },
      goToCreateProduct: function(){
        this.isCreate = true
        this.isEdit = false
        this.send.name = ''
        this.send.price = ''
      },
      editProduct: function() {
        axios.put(`http://localhost:3000/products/${this.idProductSelected}/update`, this.send).then( (r) => {
          console.log(r)
          this.getProducts()
        })
      },
      createProduct: function() {
        axios.post(`http://localhost:3000/products/create`, this.send).then( r => {
          console.log(r)
          this.getProducts()
        })
      },
      deleteProduct: function(id) {
        axios.delete(`http://localhost:3000/products/${id}/delete`).then( r =>{
          console.log(r)
          this.message = 'Eliminado exitosamente';
          this.getProducts()
        }).catch(e => {
          console.log(e)
        })
      }

    },
    mounted(){
      this.getProducts() 
    }
  }
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none
}
</style>